.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
}

.customer-video,
.client-agent-video,
.status-container {
  width: 800px;
  height: 600px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #fff;
}

.status-container{
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}
.customer-video,
.client-agent-video{
  background-color: #000;

}
.agent-video,
.client-customer-video {
  width: 150px;
  height: 100px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #333;
  border: 2px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  z-index: 999;
}

.agent-label {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 3px;
  z-index: 9999;
}

.join-channel-button {
  background-color: #000;
  color: white;
}

.button-bottom {
  position: absolute; /* Allow positioning relative to the container */
  bottom: 0px; /* Distance from the bottom */
  display: flex; 
  justify-content: flex-end;
  background-color: #f2f2f2;
  width: 100%;
}
.button-bottom-client {
  justify-content: space-between !important;
  padding: 10px;

}

.join-channel-button,
.leave-channel-button,
.join-client-button {
  display: block;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.leave-channel-button ,
.leave-channel-button:hover {
  background-color: #c41d4c;
  color: white;
}

.join-channel-button:hover {
  background-color: #000;
}

.customer-label {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 3px;
  z-index: 9999;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
button:disabled {
  color: wheat;
  cursor: default;
} 
.uptok-logo {
  margin: 10px;
}

.status-message{
  color: #333;
  font-size: 18px;
}